@page "/album"

@using CA2MusicTobyZedomi.Music


<h1><u>AlbumPage</u></h1>

<style>
    table, th, td {
      border:1px solid black;
    }

    h4{
        font-weight: bold;
    }

    h1 {
        color: darkred;
    }
</style>

<h4>Album & Artist Search</h4>
<input placeholder="Enter album..." @bind="album" />
<input placeholder="Enter artist..." @bind="artist" />
<button @onclick="searchAlbum">Search For Album/Artist</button>


<!-- Search Album/Artist results -->
<ol>
    @if (albumList != null)
    {

        @foreach (var albums in albumList)
        {


            <br />

            <h4>Albums:</h4>

            @foreach (var album in albums.TheAlbum.results.albummatches.album)

            {
                <table style="width:25%">
                    <tr>
                        <th>
                <li>@album.name</li></th>

                </tr>
                </table>


            }
            <br />


            <br />

            <h4>Artist:</h4>

                @foreach (var artist in albums.TheArtist.results.artistmatches.artist)
              {

               <table style="width:25%">
                <tr>
                  <th><li>@artist.name</li></th>
            
               </tr>

                      </table>

              }



            <button @onclick="@(e => Delete(albums))">
                Delete
            </button>
            <br />


        }
    }
</ol>

<br />


<button @onclick="SortAlbum">Sort Albums</button>

<br />

<br>

<h4>Get Most Popular Artists By Country</h4>
<input placeholder="Enter country..." @bind="country" />
<button @onclick="mostPopularArtist">Search For Country</button>


<ol>
    @if (album2 != null)
    {
        <br />

        <h4>Most Popular Artist:</h4>

        @foreach (var artist in album2.TheCountry.topartists.artist)
        {
            <table style="width:25%">
                <tr>
                    <th>
            <li>@artist.name</li></th>
            </tr>
            </table>


        }


    }
</ol>


<!--Get top albums and news from aritst-->

<br />
<h4>Get Top Albums and News From Artist</h4>
<input placeholder="Enter artist..." @bind="artistName" />
<button @onclick="getTopAlbums">Search</button>



<ol>
    @if (topAlbum != null)
    {
        <br />
        <h4>Top Albums:</h4>


        @foreach (var album in topAlbum.topalbums.album)
        {
            <table style="width:25%">
                <tr>
                    <th>
            <li>@album.name</li></th>

            </tr>
            </table>


        }


    }
</ol>


<ol>
    @if (t != null)
    {
        <h4>News on Artist:</h4>

        @foreach (var docs in t.response.docs)
        {

            <table style="width:100%">
                <tr>
                    <th>
            <li>@docs.section_name</li></th>
            <th>@docs.lead_paragraph</th>
            <th><a href=@docs.web_url> Click here to go to website</a></th>


            </tr>
            </table>
        }
    }
</ol>


@code {



    private string? album;
    private string? artist;
    private List<Album?> albumList = new();


    public void searchAlbum()
    {

        if (!string.IsNullOrWhiteSpace(album) && !string.IsNullOrWhiteSpace(artist))
        {

            Album newAlbum = new Album(album, artist);


            if (!CheckDuplicateAlbum(newAlbum))
            {
                albumList.Add(newAlbum);
            }

        }

        album = string.Empty;
        artist = string.Empty;

    }


    // check duplicate

    public bool CheckDuplicateAlbum(Album album)
    {

        foreach (var albumToCompare in albumList)
        {
            if (albumToCompare.Equals(album))
            {
                return true;
            }
        }

        return false;
    }


    // sort songs

    private void SortAlbum()
    {
        albumList.Sort();
    }

    // delete songs

    private void Delete(Album album)
    {
        albumList.Remove(album);
    }


    // getTopAlbums

    private string artistName;
    private TopAlbum? topAlbum;
    private MusicArticleNews? t;

    private void getTopAlbums()
    {


        if (!string.IsNullOrWhiteSpace(artistName))
        {

            topAlbum = MusicService.GetTopAlbum(artistName);
            t = NewsService.SearchMusicNews(artistName);

        }

        artistName = string.Empty;
    }


    // interface method

    private string? country;
    private lfm? theCountry;
    private Album? album2;
  


    public void mostPopularArtist()
    {

        if (!string.IsNullOrWhiteSpace(country))
        {
          
            album2 = new Album(country);

            theCountry = album2.mostPopularArtistByCountry();

        }

        country = string.Empty;
    }



   
  

}
