@page "/news"
@using CA2MusicTobyZedomi.Music


<h1><u>MusicNewsPage</u></h1>


<style>
    table, th, td {
        border: 1px solid black;
    }

    h4{
        font-weight: bold;
    }

    h1 {
        color: darkred;
    }
</style>

<button @onclick="rssMusic">Music RSS Feeds</button>

<br />
<br />
<ol>
@if(newsList != null)
{

    @foreach(var news in newsList){


    @foreach(var item in news.Feed.channel.item)
    {

        
            <table style="width:100%">
                <tr>
                    <th><li><h4>Title: </h4>@item.title</li></th>
                    <th><h4>Description: </h4>@item.description</th>
                    <th><a href=@item.link> Click here to go to article</a></th>
                </tr>
            </table>

    }

    <br />
            <button @onclick="@(e => Delete(news))">
                Remove
            </button>
            <br />
    }
}

</ol>

<br />



<!---
<button @onclick="SortNews">Sort Comment</button>
-->

<br />

<h4>Search for general news on music, albums or songs</h4>
<input placeholder="Enter music, songs or albums" @bind="section1" />
<button @onclick="searchNews">Search</button>


<br />
<br />

<ol>
    @if (newsList1 != null)
    {

        @foreach(var news in newsList1){

            <h4>News: </h4>

        @foreach (var docs in news.TheArticle.response.docs)
        {

                <table style="width:100%">
                    <tr>
                        <th>
                <li>@docs.section_name</li></th>
                <th>@docs.lead_paragraph</th>
                <th><a href=@docs.web_url> Click here to go to website</a></th>


                </tr>
                </table>
        }


            <br />
            <button @onclick="@(e => Delete1(news))">
                Remove
            </button>
            <br />
    }
    }
</ol>





@code {


    private List<News?> newsList = new();


    private void rssMusic()
    {

        News news1 = new News();

        newsList.Add(news1);
        
    }

    //sort songs

    private void SortNews()
    {
        newsList.Sort();
    }


    // delete

    private void Delete(News news)
    {
        newsList.Remove(news);
    }


    // search music article


    private List<News?> newsList1 = new();
    private string? section1;
   

    private void searchNews()
    {


        if (section1.Equals("music", StringComparison.InvariantCultureIgnoreCase) || section1.Equals("songs", StringComparison.CurrentCultureIgnoreCase) || section1.Equals("albums", StringComparison.CurrentCultureIgnoreCase) || section1.Equals("album", StringComparison.CurrentCultureIgnoreCase) || section1.Equals("song", StringComparison.CurrentCultureIgnoreCase))
        {

            News array = new News(section1);

            if (!string.IsNullOrWhiteSpace(section1))
            {

                newsList1.Add(array);
               
            }
                
            }

            section1 = string.Empty;
        
    }

    // delete

    private void Delete1(News news)
    {
        newsList1.Remove(news);
    }

    

}
