@page "/song"

@using CA2MusicTobyZedomi.Music


<PageTitle>Song Page</PageTitle>

<h1><u>SongPage</u></h1>

<style>
    table, th, td {
      border:1px solid black;
    }

    h4{
        font-weight: bold;
    }

    h1{
        color: darkred;
    }
</style>

<h4>Song Search</h4>
<input placeholder="Enter song..." @bind="song" />
<input placeholder="Enter artist..." @bind="artist" />
<button @onclick="searchSong">Search For Song</button>


<!-- Search Song results -->
<ol>
    @if (a != null)
    {

        @foreach (var song in a)
        {
            <br />

            
        //    @foreach (var artist in song.TheArtist.results.artistmatches.artist)
          //  {

             //   <table style="width:25%">
            //    <tr>
             //       <th><li>@artist.name</li></th>
            //        
            //    </tr>

             //   </table>
                
          //  }
            

            <br />

            @foreach (var track in song.TheSong.results.trackmatches.track)

            {
                <table style="width:25%">
                    <tr>
                        <th><li>@track.name</li></th>

                    </tr>
                </table>


            }
            <br />

            <button @onclick="@(e => Delete(song))">
                Delete
            </button>
            <br />


        }
    }
</ol>

<br />


<button @onclick="SortSongs">Sort Songs</button>

<br />




<!-- Get top results for song -->

<br />

<button @onclick="getTopSongs">Top Song/Artist</button>


<ol>
    @if (a1 != null)
    {
        <br />
        <h4>Current Top Songs: </h4>

        @foreach (var track in a1.TheTopSongs)
        {
            <table style="width:25%">
                <tr>
                    <th>
            <li>@track.name</li></th>

            </tr>
            </table>

            
        }
 
    }
</ol>


<ol>


    @if(a1 != null){
        <br>
        <h4>Current Top Artist: </h4>

        @foreach (var artist in a1.TheTopArtist)
        {
            <table style="width:25%">
                <tr>
                    <th>
            <li>@artist.name</li></th>

            </tr>
            </table>


        }
    }
</ol>


<h4>Get Most Popular Songs By Country</h4>
<input placeholder="Enter country..." @bind="country" />
<button @onclick="mostPopularSong">Search For Country</button>


<ol>
    @if (s2 != null)
    {
        <br />
        <h4>Most Popular Songs: </h4>

        @foreach (var track in s2.TheCountry.tracks.track)
        {
            <table style="width:25%">
                <tr>
                    <th>
            <li>@track.name</li></th>

            </tr>
            </table>


        }


    }
</ol>



@code {

    private string? artist;
    private string? song;
    private List<Song?> a = new();

    //search for songs

    private void searchSong()
    {

        if (!string.IsNullOrWhiteSpace(artist) && !string.IsNullOrWhiteSpace(song))
        {

            Song newSong = new Song(song, artist, "null");


            if (!CheckDuplicateSong(newSong))
            {
                a.Add(newSong);
            }

        }

        artist = string.Empty;
        song = string.Empty;
    }

    // check duplicate

    public bool CheckDuplicateSong(Song song)
    {

        foreach (var songToCompare in a)
        {
            if (songToCompare.Equals(song))
            {
                return true;
            }
        }

        return false;
    }

    // get top song

    private Song? a1;

    private void getTopSongs()
    {

             a1 = new Song();

    }

    // sort songs

    private void SortSongs()
    {
        a.Sort();
    }

    // delete songs

    private void Delete(Song song)
    {
        a.Remove(song);
    }

    // interface method 

    private string? country;
    private TopSongCountry? theCountry;
    private Song? s2;
  


    public void mostPopularSong()
    {

        if (!string.IsNullOrWhiteSpace(country))
        {

            if (!string.IsNullOrWhiteSpace(country))
            {
                s2 = new Song(country);

                theCountry = s2.mostPopularSongByCountry();
            }


        }

        country = string.Empty;
    }
   

  
}